.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.card__image {
  border-radius: 5px 5px 0 0;
  object-fit: none;
  height: 224px;
  width: 240px;
}

/* Phones */
@media only screen and (max-width: 600px) {
  .card__image {
    width: 300px;
  }
}

/* Tablets & Large Phones */
@media only screen and (min-width: 600px) {
  .card__image {
    width: 300px;
  }
}

/* Landscape Tablets */
@media only screen and (min-width: 768px) {
  .card__image {
    width: 300px;
  }
}

/* Desktops */
@media only screen and (min-width: 992px) {
  .card__image {
    width: 300px;
  }
}

/* Large Desktops */
@media only screen and (min-width: 1200px) {
  .card__image {
    width: 300px;
  }
}
