@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

.google-profile {
  display: flex;
  align-items: center;

  position: absolute;
  top: 1rem;
  right: 1.75rem;
}

.google-auth-button {
  display: flex;
  align-items: center;
  gap: 12px;

  color: black;
  text-transform: uppercase;

  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 21px;

  background-color: transparent;
  border-radius: 4px;
  border-color: transparent;
}

.google-auth-button:hover {
  cursor: pointer;
}

.google-profile-pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

@media only screen and (min-width: 600px) {
  .google-profile {
    right: 3.375rem;
  }
}
